<form #invoiceForm="ngForm">
  <div class="container pt-3 mb-5">
    <div class="row">
      <div class="col">
        <div class="">
            <h4 class="text-center p-3 mb-2 bg-success text-white font-weight-normal">Invoice Generator</h4>
        </div>
        <div class="card border border-success mt-2">
          <div class="card-body">
            <h4 class="card-title ">Bill Details</h4>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="name">Company</label>
                  <select class="custom-select" [(ngModel)]="invoice.company" name="company" (change)="companySelect()"
                  [ngClass]="{'is-invalid': invoiceForm.submitted && Company.invalid}" #Company="ngModel" required>
                    <option *ngFor="let company of companyName">{{company.name}}</option>
                  </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="name">Invoice Number</label>
                  <input type="text" class="form-control" name="number" id="number"
                    [ngClass]="{'is-invalid': invoiceForm.submitted && Number.invalid}"
                    [(ngModel)]="invoice.number" #Number="ngModel" required>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="date">Date</label>
                  <input type="date" class="form-control" name="date" id="date"
                  [(ngModel)]="invoice.date" (change)="formattedDate()" placeholder="dd-mm-yyyy"
                  [ngClass]="{'is-invalid': invoiceForm.submitted && Date.invalid}" #Date="ngModel" required>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card border border-success mt-2">
          <div class="card-body">
            <h4 class="card-title ">Customer Details</h4>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" class="form-control" name="name" id="name"
                    [ngClass]="{'is-invalid': invoiceForm.submitted && CustName.invalid}"
                    [(ngModel)]="invoice.customerName" #CustName="ngModel" required>
                </div>
                <div class="form-group">
                  <label for="address">Address</label>
                  <textarea class="form-control" name="address" id="address" row="3"
                    [ngClass]="{'is-invalid': invoiceForm.submitted && Address.invalid}" [(ngModel)]="invoice.address"
                    #Address="ngModel" required></textarea>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="text">Party GSTIN</label>
                  <input type="text" class="form-control" name="partyGstin" id="partyGstin"
                      [ngClass]="{'is-invalid': invoiceForm.submitted && PartyGstin.invalid}"
                      [(ngModel)]="invoice.partyGstin" #PartyGstin="ngModel" required>
                </div>
                <div class="form-group">
                  <label for="vehicleNumber">Vehicle Number</label>
                  <select class="custom-select" [(ngModel)]="invoice.vehicleNumber" name="vehicleNumber" id="vehicleNumber"
                  [ngClass]="{'is-invalid': invoiceForm.submitted && VehicleNumber.invalid}" #VehicleNumber="ngModel" required>
                    <option *ngFor="let number of lorryNumber">{{number.number}}</option>
                  </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="state">State</label>
                      <input type="text" class="form-control" name="state" id="state"
                      [ngClass]="{'is-invalid': invoiceForm.submitted && State.invalid}"
                      [(ngModel)]="invoice.state" #State="ngModel" required>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="stateCode">State Code</label>
                      <input type="text" class="form-control" name="stateCode" id="stateCode"
                      [ngClass]="{'is-invalid': invoiceForm.submitted && StateCode.invalid}"
                      [(ngModel)]="invoice.stateCode" #StateCode="ngModel" required>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="ewayBill">Eway Bill No</label>
                  <input type="text" class="form-control" name="ewayBill" id="ewayBill"
                    [ngClass]="{'is-invalid': invoiceForm.submitted && EwayBill.invalid}"
                    [(ngModel)]="invoice.ewayBill" #EwayBill="ngModel" required>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card border-success mt-2">
          <div class="card-body">
            <h4 class="card-title d-flex justify-content-between ">Order Details <button type="button"
                class="btn btn-secondary" (click)="addProduct()">+</button></h4>
            <div class="row">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Product</th>
                    <th scope="col">HSN Code</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Rate (Per.Sq.Mtr)</th>
                    <th scope="col">Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let product of invoice.products; let i=index">
                    <td scope="row">
                      <input type="text" class="form-control" name="productName{{i}}"
                        [ngClass]="{'is-invalid': invoiceForm.submitted && ProductName.invalid}" id="productName"
                        [(ngModel)]="product.name" #ProductName="ngModel" required>
                    </td>
                    <td>
                      <input type="text" class="form-control" name="price{{i}}" id="hsnCode"
                        [ngClass]="{'is-invalid': invoiceForm.submitted && ProductHsnCode.invalid}"
                        [(ngModel)]="product.hsnCode" #ProductHsnCode="ngModel" required>
                    </td>
                    <td>
                      <input type="number" class="form-control" name="price{{i}}" id="price"
                        [ngClass]="{'is-invalid': invoiceForm.submitted && ProductPrice.invalid}"
                        [(ngModel)]="product.price" #ProductPrice="ngModel" required>
                    </td>
                    <td>
                      <input type="number" class="form-control" name="quantity{{i}}" id="quantity"
                        [ngClass]="{'is-invalid': invoiceForm.submitted && ProductQty.invalid}"
                        [(ngModel)]="product.qty" #ProductQty="ngModel" required>
                    </td>
                    <td>
                      {{product.price * product.qty || ''}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <hr>
      <div class="col-md-4">
        <button type="button" class="btn btn-outline-success btn-lg btn-block my-2 my-sm-0"
          (click)="invoiceForm.valid ? generatePDF('download') : ''">Download Invoice</button>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-outline-success btn-lg btn-block my-2 my-sm-0"
          (click)="invoiceForm.valid ? generatePDF('print') : ''">Print
          Invoice</button>
      </div>
      <div class="col-md-4">
        <button type="submit" class="btn btn-outline-success btn-lg btn-block my-2 my-sm-0"
          (click)="invoiceForm.valid ? generatePDF() : ''">Open
          Invoice</button>
      </div>
    </div>
  </div>
</form>
